
.header{
    height: 10vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(9, 9, 80);
  }
.header h3{
    text-align: center;
    text-transform: capitalize;
    color: white;
    font-size: 30px;
    font-weight: 500;
}